#section-6 {
    margin-bottom: 55px;
}

.dress-code-style-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 20px;
}

.dress-code-style {
    border: 1px solid black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#dress-code-style-1 {
    background-color: red;
}

#dress-code-style-2 {
    background-color: greenyellow;
}

#dress-code-style-3 {
    background-color: blue;
}
